@model WebApplication1.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "نسيت كلمة المرور ؟";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-block">
                <h4>ادخال البريد الالكتروني</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-lg-center col-md-10">
                        <input type="submit" class="btn btn-primary" value="ارسال" style="width:32%"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
}

