<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>KHFED </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="خالد محمد Frond End Developer" name="keywords">
    <meta content="انا مصمم صفحات الويب (Frond End Developer) اقوم بتصميم صفحات متجاوبه مع جميع احجام الشاشات وبتاثيرات جذابه واجيد الفوتوشوب وتصميم كرود الاعمال وانا طالب جامعي واعمل حاليا لدي شركة اتقان الاجيال" name="description">

    <!-- Favicons -->
    <link href="~/Khstyle/img/Logo.jpg" rel="icon">
    <link href="~/Khstyle/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="~/Khstyle/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Khstyle/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Khstyle/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Khstyle/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/Khstyle/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Khstyle/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Khstyle/css/style.css" rel="stylesheet">


</head>

<body dir="rtl" id="page-top">

    <!--/ Nav Star /-->
    <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav" style="direction:ltr">
        <div class="container">
            <a class="navbar-brand js-scroll" href="#page-top"><img src="../../Khstyle/img/Logo.jpg" rel="icon" style="width: 35px;"> KHFED</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
                    aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
                <ul class="navbar-nav" style="direction:rtl">
                    <li class="nav-item">
                        <a class="nav-link js-scroll active" href="#home">الصفحه الرئسيه</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="#about">من انا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="#service">خدماتي</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="#work">اعمالي</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="#blog">مقالات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="#contact">اتصل بي</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll" href="~/Home/Index"> وظائف</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--/ Nav End /-->
    <div id="home" class="intro route bg-image" style="background-image: url(../../Khstyle/img/Profile.jpg)">
        <div class="overlay-itro"></div>
        <div class="intro-content display-table">
            <div class="table-cell">
                <div class="container">
                    <!--<p class="display-6 color-d">Hello, world!</p>-->


                    <p class="intro-subtitle"><span class="text-slider-items">يمكنك الحصول على مساعدة من المعلمين، ولكن عليك أن تتعلم الكثير بنفسك، والجلوس وحدك في غرفة.</span><strong class="text-slider"></strong></p>
                    <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
                </div>
            </div>
        </div>
    </div>

    <section class="about-mf sect-pt4 route">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <!--/ Intro Skew Star /-->
    <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jpg)">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-mf">
                        <div id="contact" class="box-shadow-full">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="title-box-2 pt-4 pt-md-0">
                                        <h5 class="title-left" style="text-align:right">
                                            تواصل
                                        </h5>
                                    </div>
                                    <div class="more-info" style="text-align:right">
                                        <p class="lead">
                                            هل لديك مشروع تريد مني أن أعمل عليه؟ أو لديك أي شيء آخر لتقوله؟ لا تتردد في ترك رسالة لي.
                                        </p>
                                        <ul class="list-ico">
                                            <li><span class="ion-ios-location"></span> السودان , الخرطوم , امدر مان ,الاسكان الشعبي</li>
                                            <li style="direction: ltr;"><span class="ion-ios-telephone"></span> +249 129224063</li>
                                            <li><span class="ion-email"></span> aljokar014@gmail.com</li>
                                        </ul>
                                    </div>
                                    <div class="socials" style="text-align:right">
                                        <h5>او تواصل معي عبر : </h5>
                                        <br>
                                        <ul>
                                            <li><a href="https://www.facebook.com/profile.php?id=100006412353050" title="فيسبوك"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                                            <li><a href="https://www.instagram.com/kh7alid_mohammed/" title="انستغرام"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                                            <li><a href="https://twitter.com/AljokerKhalid" title="تويتر"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="title-box-2">
                                        <h5 class="title-left" style="text-align:right">
                                            أرسل لنا رسالة
                                        </h5>
                                    </div>
                                    <div>
                                        <form action="" method="post" role="form" class="contactForm">
                                            <div id="sendmessage">لقد تم إرسال رسالتك.</div>
                                            <div id="errormessage"></div>
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="text" name="name" class="form-control" id="name" placeholder="اسمك" data-rule="minlen:4" data-msg="الرجاء إدخال 4 حرف على الأقل" />
                                                        <div class="validation"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" name="email" id="email" placeholder="البريد الالكتروني" data-rule="email" data-msg="الرجاء إدخال بريد إلكتروني صالح" />
                                                        <div class="validation"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="الموضوع" data-rule="minlen:4" data-msg="الرجاء إدخال 8 حرف على الأقل من الموضوع" />
                                                        <div class="validation"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="يرجى كتابة شيء بالنسبة لنا" placeholder="الرساله"></textarea>
                                                        <div class="validation"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="submit" class="button button-a  button-rouded">ارسال </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="copyright-box">
                            <p class="copyright">جميع الحقوق محفوظه&copy; <strong> لدي</strong>  حق المؤلف</p>
                            <div class="credits">
                                <!--
                                  All the links in the footer should remain intact.
                                  You can delete the links only if you purchased the pro version.
                                  Licensing information: https://bootstrapmade.com/license/
                                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
                                -->
                                مصمم من طرف <a href="https://bootstrapmade.com/">Khalid mohamed</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!--/ Section Contact-footer End /-->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>
    <!-- JavaScript Libraries -->
    <script src="~/Khstyle/lib/jquery/jquery.min.js"></script>
    <script src="~/Khstyle/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/Khstyle/lib/popper/popper.min.js"></script>
    <script src="~/Khstyle/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Khstyle/lib/easing/easing.min.js"></script>
    <script src="~/Khstyle/lib/counterup/jquery.waypoints.min.js"></script>
    <script src="~/Khstyle/lib/counterup/jquery.counterup.js"></script>
    <script src="~/Khstyle/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Khstyle/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/Khstyle/lib/typed/typed.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="~/Khstyle/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/Khstyle/js/main.js"></script>

</body>
</html>
