<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="~/AdminLayout/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link href="~/Contact/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/AdminLayout/dist/css/skins/_all-skins.min.css">
    

    <link href="~/AdminLayout/dist/css/Adminrtl.css" rel="stylesheet" />
    <style>
        /*Custmar*/
.searchform {
    width: 50% !important
}
    .searchform:focus {
        width:100% !important;
        -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    }
    .content-wrapper{
        background:#fff
    }
    .main-footer{
        background-color:#3c8dbc;
        color:#fff;
    }
    </style>
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav"dir="rtl">
    <div class="wrapper">

        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header pull-right">
                        <a href="~/Home/Index">   <img src="~/app-assets/images/JopLogo.png" style="width: 108px;height:49px;  "></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse pull-right" id="navbar-collapse">
                        @using (Html.BeginForm("Searsh", "Home", FormMethod.Post,new { @class="navbar-form navbar-left"}))
                        {
                         <input type="text" class="form-control searchform" id="navbar-search-input" placeholder="بحث"name="Search">

                        }
                       
                        <ul class="nav navbar-nav">
                            <li><a href="#">من نحن</a></li>
                            <li><a href="~/Home/Contact">اتصل بنا</a></li>
                            <li><a href="~/Home/SearchJops"> الوظائف</a></li>
                            <li class="active"><a href="~/Home/Index">الصفحة الرئسيه <span class="sr-only">(current)</span></a></li>

                        </ul>

                    </div><!-- /.navbar-collapse -->
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu pull-left">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                            <!-- Notifications Menu -->
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                @Html.Partial("_Longin")
                            </li>
                        </ul>
                    </div><!-- /.navbar-custom-menu -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <!-- Full Width Column -->
        <div class="content-wrapper">
            <div class="container">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                   
                    @RenderBody()
                </section>
                <!--End  Content Header (Page header) -->
                

            </div><!-- /.container -->

        </div><!-- /.content-wrapper -->
        <!--Footer-->
        <footer class="main-footer text-center">
            <div class="container">
                <strong>جميع الحقوق محفوظه &copy; 2020-2021 لدي  <a href="~/Home/Index"> <img src="~/app-assets/images/JopLogo.png" style="width:62px" /></a></strong>
            </div><!-- /.container -->
        </footer>
    </div><!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    <script src="~/AdminLayout/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/AdminLayout/bootstrap/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/AdminLayout/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/AdminLayout/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLayout/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLayout/dist/js/demo.js"></script>
    @RenderSection("script",required:false)

</body>
</html>
