@using Microsoft.AspNet.Identity

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "Logoff" }))
    {
        @Html.AntiForgeryToken();

        <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="~/Khstyle/img/Logo.jpg" class="user-image" alt="User Image">
                    <span class="hidden-xs">@Session["UserName"]</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        <img src="~/Khstyle/img/Logo.jpg" class="img-circle" alt="User Image">
                        <p>
                            @Session["UserName"] - @ViewBag.Role
                            <small>Member since Nov. 2012</small>
                        </p>
                    </li>
                    <!-- Menu Body -->
                 
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-right">
                            <a href="#" class="btn btn-success btn-flat">الحساب</a>
                        </div>
                        <div class="pull-left">
                            <a href="Javascript:document.getElementById('Logoff').submit()"  class="btn btn-danger btn-flat">تسجيل الخروج</a>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
        </ul>



    }
}
else
{
<ul class="nav navbar-nav">
    <li><a href="~/Account/Login"><i class="fa fa-user"></i>   تسجيل الدخول   </a></li>
    <li><a href="~/Account/Register"><i class="fa fa-lock"></i> اشتتراك</a></li>


</ul>
        }

