@model IEnumerable<JopWebsite.Models.About>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card" style="margin-left:20px;margin-bottom:30px;height:380px">
            <img src="~/Khstyle/img/Logo.jpg" style="width:100%;height: 197px;" />
            <div class="card-block">
                <div class="card-moved">
                    <h3>Khalid mohammed</h3>
                    <h5>Iam Full Stack Devaloper</h5>

                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4"></div>


